# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
Будет удалено .idea/
Будет удалено ou-config-service/.gitignore
Будет удалено ou-config-service/src/main/java/
Будет удалено ou-config-service/src/test/
Будет удалено ou-prototyp-app/src/main/resources/static/
Будет удалено ou-prototyp-app/src/main/resources/templates/
Будет удалено ou-zuul-service/
Будет удалено out/
Будет удалено src/main/resources/static/
Будет удалено src/main/resources/templates/
